:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --lightYellow: #ffc720;
  --transition: all 0.3s linear;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

@media screen and (max-width: 576px) {
  .container-w-400 {
    width: 400px !important;
  }
}

@media screen and (max-width: 425px) {
  .container-w-310 {
    width: 310px !important;
  }
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-yellow {
  color: var(--mainYellow);
}

/* social links */
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  transition: var(--transition);
}

/*
===============
Footer
===============
*/
.footer {
  height: 9rem;
  background: #222;
  text-align: center;
  display: grid;
  place-items: center;
}
.footer h4 {
  margin-top: 0.5rem;
  color: var(--lightBlue);
  font-weight: normal;
  text-transform: uppercase;
}
.footer h4 span {
  color: var(--lightYellow);
}
.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  color: var(--mainWhite);
}
.footer .social-link:hover {
  color: var(--lightYellow);
}
